name: Frontend CI/CD for prod-v1

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: prod

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy to Dev Server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          script: |
            cd ~/nemo/cloud/v1/frontend/semi-automated
            bash deploy.sh
